.vs
*/obj/
*/bin/Debug/
*/.containers/
/colors_api/colors_api/obj
/colors_api/colors_api/bin/Debug/net9.0
/colors_api/colors_front/obj
/colors_api/colors_front/bin/Debug/net9.0-windows10.0.19041.0/win10-x64
/colors_api/colors_front/bin/Debug
/colors_front/colors_front/bin/Debug/net9.0-windows10.0.19041.0/win10-x64
/colors_front/colors_front/obj
